#poverty {
  border-radius: 8px;
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
  color: #2d5b75;
  font-size: 50px;
  
}

.chart::before {
  position: absolute;
  top: 50px;
  left: 300px;
  z-index: -1;
  display: block;
  width: 400px;
  height: 300px;
  content: " ";
  
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  opacity: 0.3;
}

.tooltip {
  position: absolute;
  width: 135px;
  height: 60px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: #414242;
  border: 0;
  border-radius: 10px;
}

.axis-text {
  font-family: sans-serif;
  font-weight: bold;
  fill: #2d5b75;
  font-size:25px;
  text-anchor: middle;
}

.active {
  font-weight: bold;
  font-size: 25px;
  fill: #000;
  fill: #2d5b75; 
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  font-size: 15px;
  fill: #2d5b75; 
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: rgb(70, 170, 12);
  cursor: pointer;
}

a {
  font-family: sans-serif;
  font-weight: bold;
  color: #f808b0;
  
  
}

circle:hover {
  fill:  #f808b0;

}

